@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1C1C22; /* agency-dark */
  color: #E1E1E6; /* agency-text */
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1C1C22;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FFB800;
}